%title-1 {
    font-size: 120px;
    line-height: 0.92;
    letter-spacing: calc(-0.05 * 120px);

    @include media("<=tablet") {
        font-size: 80px;
        line-height: 0.92;
        letter-spacing: calc(-0.05 * 80px);
    }
}
