%content {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    will-change: transform;
}

%item {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;
}

%img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

%item--active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
}

%desktop {
    @include media("<=phone") {
        display: none;
    }
}

%desktop-tab {
    @include media("<=tablet") {
        display: none;
    }
}

%tablet {
    @include media(">tablet") {
        display: none;
    }
}

%mobile {
    @include media(">phone") {
        display: none;
    }
}

%modal-bg {
    background: rgba(10, 3, 0, 0.9);

    @supports (backdrop-filter: blur(50px)) {
        backdrop-filter: blur(50px);
    }
}
